.DS_Store

# Standard JS/TS
node_modules
*.d.ts
*.js
!jest.config.js

# Because this is an example codebase, we don't want to check in package-lock, but you might
package-lock.json

# CDKTF-specific
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!setup.js

# Alexa-specific
.ask/
/lambda/node_modules
/lambda/package-lock.json
/lambda/dist
